footer {
    text-align: right;
    padding-right: 20%;
}
#text {
    padding: 0 20%;
}

#code {
    margin-left: 20px;
    padding: 10px 5%;
    width: fit-content;
    height: fit-content;
    background: rgb(194, 194, 194);
}
